@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --back-color: #171717;
  --text-default: #FFFFFF;
  --text-light: #CCCCCC;
  --strong-color: #8C7DEC
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--back-color);
  color:white;
  height:100%;
  font-family: 'Inter', sans-serif;
  max-width: 1300px;
  margin:auto


}